<%- include('./partials/navbar.ejs') %>
<link rel="stylesheet" href="errorPage.css">
<div class="error-container">
    <div class="error-body">
        
        <div class="error-message">
           <h1><%-  message ? message : 'Oops! Something went wrong. Try again' %> </h1>
        
            
        </div>
        
    </div>
    <a class="icon-link icon-link-hover" href="/">
        Go Back Home
        <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
      </a>
</div>