<%- layout('../partials/boilerplate') %>


<div class="container-fluid d-flex align-items-center err-container">
    <div class="card">
        <div class="card-body bg-danger">
            <p class="text-light fs-3"><%=msg%></p>
            <a href="/" class="btn btn-success btn-lg mt-3">Go back home</a>
        </div>
    </div>
</div>

