<%- layout('../partials/boilerplate') %>


<div class="container mt-5">
    <form action="/categories" method="POST">
        <h1 class="text-light">Create new category</h1>
        <div class="mb-3 mt-5 bg-transparent">
            <div class="card-body bg-transparent">
                <label class="form-label text-light" for="name">Name</label>
                <input class="form-control w-25" type="text" id="name" name="name" required>
            </div>
        </div>
        <button class="btn btn-success">Add category</button>
    </form>
</div>